<!DOCTYPE html>
<!-- ng-app is an angular Directive.  A directive is how you tell Angular what you want it to control.  This directive will control the entire app. -->
<html ng-app="PokemonFacts">

<head>
    <link href="images/squirt.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ngQuiz</title>
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h1>Pokemon Quiz</h1>
            <h3>
					Learn about all the Pokemon below before you decide to take the <strong> POKEMON QUIZ </strong>
				</h3>
        </div>
        <!-- The controller can use an alias to better identify which variables are being used.  We can do this by using the "as" syntax. -->
        <div ng-controller="listCtrl as list" ng-hide="list.quizMetrics.quizActive || list.quizMetrics.resultsActive">
            <!-- Using ng-repeat, we can loop over all our data and "repeat" over each iteration. -->
            <form class="form-inline well well-sm clearfix">
                <span class="glyphicon glyphicon-search"></span>
                <input type="text" placeholder="Search..." class="form-control" ng-model="list.search">
                <!-- ng-model will take this input value and store it as an property on our controller , listCtrl-->
                <button class="btn btn-warning pull-right" ng-click="list.activateQuiz()">
                    <strong>Start Quiz</strong>
                </button>
            </form>
            <div class="row">
                <div class="col-sm-6" ng-repeat="pokemon in list.data | filter:list.search">
                    <!-- By using pipe character, we can add a filter to the data that is displayed by our ng-repeat.  Remember, ng-repeat essentially is a loop function.  This adds conditions before rendering.  -->
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-md-6">
                                <img ng-src="{{pokemon.image_url}}" class="img-rounded img-responsive well-image">
                            </div>
                            <div class="col-md-6">
                                <h4>{{pokemon.name}}</h4>
                                <p><strong>Type: {{pokemon.type}}</strong></p>
                                <p><strong>Avg. Weight: {{pokemon.type}}</strong></p>
                                <p><strong>Avg. Height: {{pokemon.type}}</strong></p>
                                <p><strong>Rarity: {{pokemon.type}}</strong></p>
                                <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#pokemon-info" ng-click="list.changeActivePokemon(pokemon)">
                                    Learn More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal" id="pokemon-info">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>{{list.activePokemon.name}}</h2>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <img ng-src="{{list.activePokemon.image_url}}" class="image-rounded img-responsive">
                                </div>
                            </div>
                            <div class="row top-buffer">
                                <div class="col-md-12">
                                    <p><strong>Type: {{list.activePokemon.type}}</strong></p>
                                    <p><strong>Avg. Weight: {{list.activePokemon.type}}</strong></p>
                                    <p><strong>Avg. Height: {{list.activePokemon.type}}</strong></p>
                                    <p><strong>Rarity: {{list.activePokemon.type}}</strong></p>
                                </div>
                                <div class="col-xs-12 top-buffer">
                                    <p><strong>Description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
									consequat.</strong></p>
                                    <button class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- List Controller -->
        <div ng-controller="quizCtrl as quiz" ng-show="quiz.quizMetrics.quizActive">
            <div class="row">
                <div class="col-xs-8">
                    <h2>Progress:</h2>
                    <div class="btn-toolbar">
                        <!-- ng-class uses property value format like objects.  Where the property is the class and the value is the condition that if returns true will show the class first mentioned.  -->
                        <button class="btn" ng-repeat="question in quiz.DataService.quizQuestions" ng-class="{'btn-info' : question.selected !== null, 'btn-danger' : question.selected === null}" 
                        ng-click="quiz.setActiveQuestion($index)">
                        <!-- In the ng-click we are passing in the index from our current iteration of the ng-repeat. -->
                            <span class="glyphicon" ng-class="{'glyphicon-pencil' : question.selected !== null,
									  'glyphicon-question-sign' : question.selected === null}">

								</span>
                        </button>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <h4>Legend:</h4>
                        <div class="col-sm-4">
                            <button class="btn btn-info">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <p>Answered</p>
                        </div>
                    <div class="col-sm-4">
                        <button class="btn btn-danger">
                            <span class="glyphicon glyphicon-question-sign"></span>
                        </button>
                        <p>Unanswered</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="alert alert-danger" 
                 ng-show="quiz.error"> Slow down there! To be a true Pokemon master you must complete all questions! <!--Normally, we use a true or false here.  But by accessing quiz.error's value we can check what it equals.  By default, it's false.  Check quiz.js for details. -->
                <button class="close" ng-click="quiz.error = false">&times</button> <!-- ng-click can pass values as well as use callback functions.-->
            </div>
            <h3>Question:</h3>
            <div class="well well-sm" ng-hide="quiz.finalize">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>{{quiz.activeQuestion+1 + ". " + quiz.DataService.quizQuestions[quiz.activeQuestion].text}}</h4>
                        <!-- By accessing dataService, we will pull the quizQuestions object and display only the active question. -->

                        <!-- Using ng-if we will conditionally choose which of the divs to show based on if it's an image question or a text question. -->
                            <div class="row"
                                ng-if="quiz.DataService.quizQuestions[quiz.activeQuestion].type === 'text' ">
                                <div class="col-sm-6" ng-repeat="answer in quiz.DataService.quizQuestions[quiz.activeQuestion].possibilities">
                                    <h4 class="answer"
                                        ng-class="{bg-info': $index} === quiz.DataService.quizQuestions[quiz.activeQuestion].selected" 
                                        ng-click="quiz.selectAnswer()">
                                        <!-- bg-info: $index will give us the number of the current iteration in the ng-repeat loop. With this line, we are specifying logic to add the class 'bg-info' IF the currrent index is equal to the 'selected' property of current active question.  All this so we can give user feedback that their question has been answered. -->
                                        {{answer.answer}}
                                    </h4>                             
                                </div>  
                            </div><!--End row-->

                            <div class="row"
                                ng-if="quiz.DataService.quizQuestions[quiz.activeQuestion].type === 'image' ">
                                <div class="col-sm-6" ng-repeat="answer in quiz.DataService.quizQuestions[quiz.activeQuestion].possibilities">
                                    <div class="image-answer"
                                         ng-class="{'image-selected' : $index === quiz.DataService.quizQuestions[quiz.activeQuestion].selected}"
                                         ng-click="quiz.selectAnswer($index)">
                                        <img ng-src="{{answer.answer}}" />
                                    </div>
                                </div>
                            </div> <!--End row-->
                            
                        </div><!--End col -->
                    </div>
                    <button class="btn btn-warning" ng-click="quiz.questionAnswered()">Continue</button>
                </div>
                <div class="well well-sm" ng-show="quiz.finalize">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Are you sure you want to submit your answers?</h3>
                            <button class="btn btn-success" ng-click="quiz.finalizeAnswers()">Yes</button>
                            <button class="btn btn-danger" ng-click="quiz.finalize = false">No</button>
                        </div>
                    </div>
                </div>

            </div><!--End Question row -->
        </div><!--End quiz Controller -->

        <div ng-controller="resultsCtrl as results" ng-show="results.quizMetrics.resultsActive">
            <div class="row">
                <div class="col-xs-8">
                    <h2>Results:</h2>
                    <div class="btn-toolbar">
                        <button class="btn" ng-repeat="question in results.DataService.quizQuestions" ng-class="{'btn-success': question.correct, 'btn-danger': !question.correct}" ng-click="results.setActiveQuestion($index)">
                            <span class="glyphicon" ng-class="{'glyphicon-ok: question.correct, 'glyphicon-remove': !question.correct}"></span>
                        </button>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <h4>Legend:</h4>
                        <div class="col-sm-4">
                            <button class="btn btn-success">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <p>Correct</p>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <p>Incorrect</p>
                        </div>
                    </div>
                </div>
            </div><!--End Results Row -->

            <div class="row">
                <h3>Questions:</h3>
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{results.activeQuestion+1 + ". "+results.DataService.quizQuestions[results.activeQuestion.text]}}</h4>
                            <div class="row">
                                <div class="col-sm-6" ng-repeat="answer in results.DataService.quizQuestions[results.activeQuestion].possibilities">
                                    <h4 class="answer">
                                        {{answer.answer}}
                                    </h4>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Results Controller -->
    </div><!--End Main Container-->



    <!-- Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- App Scripts -->
    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/controllers/list.js" type="text/javascript"></script>
    <script src="js/controllers/quiz.js" type="text/javascript"></script>
    <script src="js/controllers/results.js" type="text/javascript"></script>
    <script src="factories/quizMetrics.js" type="text/javascript"></script>
    <script src="factories/DataService.js" type="text/javascript"></script>

    <!-- video 19/24 Figure out why page isn't rendering properly.  May need to rewatch 16-->
</body>

</html>
